/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


.wrapper {
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  height: 100vh;
  box-sizing: border-box;
}

.header {
  /* border: 2px solid black; */
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.content {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 30px;
  box-sizing: border-box;
  gap:15px;
  overflow: hidden;
}

.tableContainer {
  /* border: 2px solid black; */
  height: 95%;
  width: 95%;
  box-sizing: border-box;
  overflow-y:auto;
}

.userInput {
  /* border: 2px solid black; */
  height: 10%;
  width: 95%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 9fr 1fr 1fr;
  padding: 5px;
  gap: 5px;
}

.footer {
  /* border: 2px solid black; */
  justify-content: center;
  align-items: center;
  display: flex;
}

body {
  margin: 0px;
  padding: 0px;
}

.card {
  padding: 15px;
  border-radius: 16px;
  background: #b0ddd3;
  cursor: pointer;
  /* box-shadow: 0 5px 10px rgba(0,0,0,0.05); */
  border: 1px solid black;
  box-sizing: border-box;
}

/* .card:hover {
  background: #eef2ff;
} */

.selected {
  background: #adaae9;
}

/* .card.selected {
  background: #4f46e5;
  color: white;
  transform: scale(1.02);
} */